/* body {
  background: rgb(115, 109, 230);
} */

.login {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
button {
  width: 250px;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
}
